//====================
// Credentials Layouot
//====================

.credentials-container {
    height: 188px;
}

.credentials-margin {
    width: 1200px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 15px 50px 15px;
}

.credentials-content {
    height: 100%;
    display: flex;
}

.credential-display {
    padding: 0px 20px 0px 20px;
    height: 88px;
    display: flex;
    justify-content: center;
}

.credential-one {
    width: 331px;
}

.credential-two {
    width: 226px;
}

.credential-three {
    width: 155px;
    position: relative;
}

#future-50-color {
    opacity: 0;
}

#future-50-color:hover {
    opacity: 1;
}

.credential-four {
    width: 171px;
    position: relative;
}

#qms {
    opacity: 0;
}

#qms:hover {
    opacity: 1;
}

.credential-five {
    width: 286px;
    position: relative;
}

#norfolk-carbon-charter {
    opacity: 0;
}

#norfolk-carbon-charter:hover {
    opacity: 1;
}

.overlap-img {
    position: absolute;
}