//====================
// Netmatters Logo
//====================

.netmatters-logo {
    padding-right: 15px;
    width: 400px;
}

.netmatters-logo-img {
    width: 370px;
}

#netmatters-logo {
    width: 100%;
    height: 91.4%;
    display: block;
    cursor: pointer;
}