//====================
// Variables
//====================

$support-button: #4183d7;
$support-button-hover: #2a6ec6;
$contact-button: #999aa2;
$contact-button-hover: #84858f;
$search-button: #999aa2;
$search-button-hover: #7e808a;
$menu-button: #333645;
$nav-background: #333645;
$web-design: #916ab4;
$web-design-hover: #7e57a0;
$telecom: #d3413c;
$software: #637c99;
$marketing: #2ac56b;
$marketing-hover: #26ab5f;
$security: #f02356;
$security-hover: #c51c46;